<app-nabvar></app-nabvar>
<div class="container">
  <h4>En el menu de reservas podra hacer efectiva su reserva</h4>
  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let orden of reservas">
        <div class="card w-75">
          <div class="card-body">
            <h5 class="card-title">{{ orden.fk_movie }}</h5>
            <p class="card-text">Pelicula reservada el dia {{ orden.fecha }}.</p>
            <a class="btn btn-primary">Realizar pago</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>