<h3>Registro de nuevas peliculas</h3>
<form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail1" placeholder="Nombre de la pelicula">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Descripcion</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="validationTextarea" placeholder="Resumen de la pelicula" required></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Precio de alquiler</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputEmail3" placeholder="0.000">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Cantidad de peliculas</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputEmail4" placeholder="1">
    </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Seleccione imagen de la pelicula</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button routerLink="/movies" class="btn btn-primary">Registrar pelicula</button>
    </div>
  </div>
</form>