<h3>Tabla de peliculas existentes</h3>
<table class="blueTable">
  <thead>
    <tr>
      <th>nombre</th>
      <th>imagen</th>
      <th>Costo de alquiler</th>
      <th>Cantidad en inventario</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let peli of peliculas'>
      <td>{{ peli.nombre }}</td>
      <td>{{ peli.imagen }}</td>
      <td>{{ peli.costAlquiler }}</td>
      <td>{{ peli.cantDisponible }}</td>
    </tr>
  </tbody>
</table>