<div class="col-3">
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link" data-toggle="pill" routerLink="/register" role="tab" aria-controls="v-pills-home" aria-selected="false">Register</a>
    <a class="nav-link" data-toggle="pill" routerLink="/create" role="tab" aria-controls="v-pills-profile" aria-selected="false">Create</a>
    <a class="nav-link" data-toggle="pill" routerLink="/clients" role="tab" aria-controls="v-pills-messages" aria-selected="false">Clientes</a>
    <a class="nav-link" data-toggle="pill" routerLink="/movies" role="tab" aria-controls="v-pills-settings" aria-selected="false">Peliculas</a>
    <a class="nav-link" data-toggle="pill" routerLink="/reserve" role="tab" aria-controls="v-pills-settings" aria-selected="false">Reservas</a>
  </div>
</div>