<div class="container">
  <app-nabvar-title></app-nabvar-title>
  <div class="row">
    <app-nabvar-admin></app-nabvar-admin>
    <div class="col-9">
      <app-registerform></app-registerform>
    </div>
  </div>
</div>