<div class="container">
  <h1>¡Bienvenido a Videos Pepito!</h1>
  <p>En esta pagina podras alquilar peliculas de forma facil y sencilla.</p>
  <p>Si ya tienes cuenta logueate, si no resgistrate e inicia a gozar de beneficios</p>
  <div class="row">
    <div class="col-md-6">
      <app-register-new-user-form></app-register-new-user-form>
    </div>
    <div class="col-md-6">
      <app-loginform></app-loginform>
    </div>
  </div>
</div>