<app-nabvar></app-nabvar>
<div class="container">
  <p>Vea nuestro catalogo y diganos cual pelicula desea reservar</p>
  <div class="row">
    <div *ngFor="let movie of catalog">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="./../../../../assets/MoviesLogos/avp.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ movie.titulo }}</h5>
            <p class="card-text">{{ movie.descripcion }}</p>
            <a class="btn btn-primary" routerLink="/views">Reservar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>