<h3>Tabla de reservas realizadas</h3>
<table class="blueTable">
  <thead>
    <tr>
      <th>usuario</th>
      <th>pelicula</th>
      <th>fecha</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let reserv of reservas'>
      <td>{{ reserv.usuario }}</td>
      <td>{{ reserv.movie }}</td>
      <td>{{ reserv.fecha }}</td>
    </tr>
  </tbody>
</table>