<h3>Listado de usuarios</h3>
<table class="blueTable">
  <thead>
    <tr>
      <th>Documento</th>
      <th>Nombres</th>
      <th>Nickname</th>
      <th>Rol</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of clientes">
      <td>{{ user.documento }}</td>
      <td>{{ user.nombres }}</td>
      <td>{{ user.nickname }}</td>
      <td>{{ user.rol }}</td>
    </tr>
  </tbody>
</table>