<h3>Registro de nuevo usuario</h3>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Nombres</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Andres Carranza">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress2">NickName</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="alegrin">
    </div>
    <div class="form-group col-md-6">
      <label for="exampleFormControlSelect1">Tipo de usuario</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Elija una opcion</option>
        <option value="ad">Administrador</option>
        <option value="us">Usuario</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputCity">No documento</label>
      <input type="text" class="form-control" id="inputCity" placeholder="123456">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Tipo de Documento</label>
      <select id="inputState" class="form-control">
        <option>Elija una opcion</option>
        <option value="ti">Tarjeta de identidad</option>
        <option value="cc">Cedula de ciudadania</option>
        <option value="ce">Cedula extrangera</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputZip">Fecha de nacimiento</label>
      <input type="date" class="form-control" id="inputZip">
    </div>
  </div>
  <button routerLink="/clients" class="btn btn-primary">Registrar</button>
</form>